body {
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); 
}

.apple {
    background: red;
    color: white;
}

.banana {
    background: rgb(241, 238, 33);
    color: rgb(148, 108, 108);
}

.grape {
    background: purple;
    color: white;
}

#caterpillar-body {
    /* border: 2px solid red;
    height: 150px;
    width: 500px; */
    display: inline-block;
    position: relative;
    margin-top: 5px;
}

.food-choice {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: inline-block;
}
.add-body {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: inline-block;
    margin-top: 50px;
    margin-right: -20px
}

.img {
    position: relative;
}

.whole-caterpillar {
    display: inline;
}

.transform {
    transform: translateY(10px);
}