.blue {
    background: blue;
    color: white;
}
.green {
    background: green;
    color: white;
}
.red {
    background: red;
    color: white;
}
.teal {
  background: teal;
  color: white;
}
.brown {
  background: brown;
  color: white;
}

.body {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: inline-block;
    margin-left: -20px;
}

.add-body {
    border: 2px solid white;
    height: 100ps;
    width: 100px;
}