body {
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);     
}

h1 {
    text-align: center;
    color: brown;
    font-weight: bold;
    font-size: 65px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    color: rgb(117, 24, 136);
    font-weight: bolder;
    font-size: 40px;
}

#whole-caterpillar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#food-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.food-choice {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.food-dance {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

#dance-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.add-body {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: inline-block;
    margin-top: 120px;
    margin-left: -20px;
    position: relative;
    z-index: -1;
}



.transform {
    transform: translateY(10px);
}
            
.apple {
    background: red;
    color: white;
}

.banana {
    background: rgb(241, 238, 33);
    color: rgb(148, 108, 108);
}

.grape {
    background: purple;
    color: white;
}